// textarea {
//   resize: none;
// }

.form-control {
  border-radius: 5px;
}

.btn-group {
  display: block;
}

// input.ng-invalid.ng-touched {
//   border: 1px solid red;
// }

.scrollspy {
  position: relative;
  height: 525px;
  margin-top: .5rem;
  overflow: auto
}
