<form *ngIf="!reseted; else passwordReseted" [formGroup]="form" (ngSubmit)="onSubmit()" class="form-horizontal">
  <h2>Reset your password</h2>
  <p>Type your new password below and press the reset button.</p>
  <div class="form-group mb-2">
    <input type="password" formControlName="password" class="form-control" placeholder="New Password">
  </div>
  <div class="form-group mb-2">
    <input type="password" formControlName="confirmPassword" class="form-control" placeholder="Confirm New Password">
  </div>
  <button type="submit" class="btn btn-rounded btn-outline-secondary btn-block mt-3" [disabled]="resetting">
    Reset
    <fa-icon *ngIf="resetting" icon="atom" [spin]="true" [fixedWidth]="true" class="ml-1"></fa-icon>
    <fa-icon *ngIf="!resetting" icon="key" [fixedWidth]="true" class="ml-1"></fa-icon>
  </button>
  <hr>
  <button type="button" class="btn btn-rounded btn-light" [routerLink]="['/', 'auth', 'signin']" [disabled]="resetting">Go To Signin Page</button>
</form>
<ng-template #passwordReseted>
  <h2>Reseted!</h2>
  <p>Your password has been successfully reseted.</p>
  <button type="button" [routerLink]="['/', 'auth', 'signin']" class="btn btn-rounded btn-outline-secondary btn-block mt-3">Go To Signin Page</button>
</ng-template>