.dropdown-menu {
  right: 0;
}
.badge {
  color: transparent;
  width: 40px;

  background-image: url('../../../../assets/images/badges.svg');
  background-size: 180px;
  background-repeat: no-repeat;
  // background-position: -46px 0px;
}
