<form *ngIf="!sent; else resetPassword" [formGroup]="form" (ngSubmit)="onSubmit()"class="form-horizontal">
  <h2>Forgot your password?</h2>
  <p>Don't worry. Type your email and we will send you password resetting instructions.</p>
  <div class="form-group mb-2">
    <input type="email" formControlName="email" class="form-control" placeholder="Email">
  </div>
  <button type="submit" class="btn btn-rounded btn-outline-secondary btn-block mt-3" [disabled]="sending">
    Send
    <fa-icon *ngIf="sending" icon="atom" [spin]="true" [fixedWidth]="true" class="ml-1"></fa-icon>
    <fa-icon *ngIf="!sending" icon="envelope" [fixedWidth]="true" class="ml-1"></fa-icon>
  </button>
  <hr>
  <button type="button" class="btn btn-rounded btn-light" [routerLink]="['/', 'auth', 'signin']" [disabled]="sending">
    <fa-icon icon="angle-left" class="mr-1"></fa-icon>
    Back
  </button>
</form>
<ng-template #resetPassword>
  <h2>Almost there!</h2>
  <p>We've sent a password reset email to <strong>{{ email }}</strong>. Please open it and follow the instructions.</p>
  <p>Haven't recieved yet?</p>
  <button type="button" (click)="onResend()" class="btn btn-rounded btn-outline-secondary btn-block mt-3" [disabled]="sending">
    Resend
    <fa-icon *ngIf="sending" icon="atom" [spin]="true" [fixedWidth]="true" class="ml-1"></fa-icon>
    <fa-icon *ngIf="!sending" icon="envelope" [fixedWidth]="true" class="ml-1"></fa-icon>
  </button>
  <hr>
  <button type="button" class="btn btn-rounded btn-light" [routerLink]="['/', 'auth', 'signin']" [disabled]="sending">
    <fa-icon icon="angle-left" class="mr-1"></fa-icon>
    Back
  </button>
</ng-template>
